In [15]:
# if else

In [5]:
if 55==55:
    print("both 55 values are equal")
else: 
    print("both value are not equal")

both 55 values are equal

In [94]:
if 56==56:  
    print("both values are equal")
elif 66 == 66:
    print("both 66 are equal")
elif  77 == 77:
    print("both 77 are equal")
else:
    print("both are not equal")

both values are equal

In [13]:
if 57 == 57:
    print("both 57 values are equal")
if 66 == 66:
    print("both 66 values are equal")
if 77 == 77:
    print("both 77 values are equal")
else:
    print("both are not equal")

both 57 values are equal
both 66 values are equal
both 77 values are equal

In [17]:
# nested if

In [21]:
if 55 == 55:
    print("both 55 value are equal")
    if 77 == 79:
        print("both 77 value are equal")
        if 88 == 88:
            print("both va;ue are equal")
        else:
            ("88 else block")
    else:
        print("77 else is block")
else:
    print("55 else is block")

both 55 value are equal
77 else is block

In [22]:
# other

In [23]:
if [1,2,3,4]:
    print(True)
else:
    print(False)

True

In [24]:
# Answer 1

In [57]:
payable_Unit = int(input("Enter Unit : "))        
print("payable_Unit")

Enter Unit :  20

payable_Unit

In [55]:
print("payable_Unit")

payable_Unit

In [12]:
# Answer 1 Write a program to calculate the electricity bil using only if statement? (accept number of unit from user) according to the following criteria:

In [214]:
ctg1 =  202
price = 5  
price2 = 10
if ctg1 <=100: 
    print("No Charge")
elif ctg1 <=200:            
    print(ctg1*price) 
elif ctg1>200:       
    print(ctg1*price2)

2020

In [71]:
# Answer 2  Write a program to accept percentage from the user and display the grade according to the following criteria:

In [73]:
Student_Percentage =  88                  

if Student_Percentage <60: 
    print("Garde 'D'")
elif Student_Percentage <=80:            
    print("Gardec'C'") 
elif Student_Percentage <=90:       
    print("Grade 'B'")
elif Student_Percentage >90:
    print("Grade 'A'")

Grade 'B'

In [74]:
# Answer 3 Accept the age of 4 people and display the youngest one

In [135]:
Ram = 34   
Shyam = 28  
Raghav = 55
Madhav = 44
if Ram < Shyam:
    print('Ram is "yougest"')
elif Shyam < Raghav:
    print ('Shyam is "yougest"')
elif Raghav <Madhav:
    print('Raghav is "yougest"')
elif Madhav < Ram:
    print('Madhav is "yougent"')

Shyam is "yougest"

In [72]:
# Try Input

In [82]:
Emp_salary = input("Salary :  ")                      
print(Emp_salary)

Salary :   40

40

In [ ]:
# Answer 4  A company decided to give bonus to employee according to following criteria:

In [184]:
Service_of_Years = 11 
Monthly_Salary = 20000 
if Service_of_Years < 6:
    print(Monthly_Salary*5/100)
elif Service_of_Years <=10:
    print (Monthly_Salary*8/100)
elif Service_of_Years >10:
    print (Monthly_Salary*10/100)

2000.0

In [212]:
# Answer 5

In [211]:
number1 = 4000       
number2 = 7000 
number3 = 9000
if number1<number2:
    print ((f"number2 {number2} is Second largerst number").title())   
elif number2<number3:
    print ((f"number3 {number3} is Second largerst number").title()) 
elif number3 < number1:
    print((f"number1 {number1} is the lagest number").title())

Number2 7000 Is Second Largerst Number

In [230]:
#Answer 6

In [40]:
Product_price = 7000   
if Product_price <=7000:
    print(f"After Discount Net Price = {Product_price/100*120}")  
elif Product_price <=10000:
    print((f"After Discount Net Price = {Product_price/100*115}"))
elif Product_price >10000:
    print((f"After Discount Net Price = {Product_price/100*120 }"))

After Discount Net Price = 8400.0

In [3]:
# Answer 7 Accept the marks of English, Math and Science Social Studies Subject and display the stream allotted

In [81]:
English = 81 
Math = 81
Science = 81   
Social_Study = 89
if English ==
elif Social_Study==English>80:
    print('Student can apply for "Humanities".')  
elif English==Math==Science==Social_Study>80:
    print('Student can apply for "SCIENCE STREAM".')
else:
    print("Not Applicable")

Not Applicable

In [9]:
# Answer 10 Write a program to check whether a number entere is three-digit number or not?

In [11]:
Digit = 333  
if Digit<100:
    print(("It is not three Digit Number").title())
elif Digit <999:
    print (("It is thrre digit number").upper())
elif Digit>999:
    print(("it's not three digiT number").title())

IT IS THRRE DIGIT NUMBER

In [ ]:
# Answe 8  Write a program to display "Hello" if a number entered y user is a multiple of five, otherwise print "Bye"?

In [25]:
Number1 =556 
Number2 = 5
if Number1%Number2 ==0:
    print ('"Hello"')
elif Number1%Number2 >0:
    print('"Bye"')

"Bye"

In [ ]:
# Answer 09 Write a program to check whether the last digit of a number (entered by user) is divisible by 3 or not ?

In [29]:
Number3 = 110  
Number4 = 3
if Number3%Number4==0:
    print(("this is divisible by 3").upper())
elif Number3%Number4 >0:
    print(("this is not divisible by 3").capitalize())

This is not divisible by 3